@model ProjectLib.PModels.ProjectListModel

@{
    ViewBag.Title = "NCCS Innovation Lab | Projects";
}

<nav class='navbar-fixed-top-after'>
    <a href="javascript:void(0)" id='close-menu' class="closebtn">&times;</a>
    <img class='nav-icon' src='~/Content/Images/nclogo.png' id='nc-icon' />
    @Html.ActionLink("HOME", "Index", "Home")
    @Html.ActionLink("PROJECTS", "Projects", "Home", null, new { @class = "active" })
    @Html.ActionLink("SUCCESSFUL PROJECTS", "SuccessfulProjects", "Home")
    @Html.ActionLink("EVENTS", "Events", "Home")
    @Html.ActionLink("CONTACT", "Contact", "Home")
    @Html.ActionLink("APPLY", "Apply", "Apply")

</nav>
<div class="navbar-side">
    <span id="hamburger" onclick="">&#9776;</span>
    <img class="nav-icon-side" src='~/Content/Images/nclogo.png' id='nc-icon-side' />
</div>

<div class="section">
    <div class="row fit theme-steelgray">
        <div class="col-l-7 section-content">
            <h1 class="uppercase animated-text white">
                Real-World
                <span class="font-bold block nc-yellow">projects</span>
            </h1>
            <p class="white animated-text">
                Here at Neumont's Innovation Lab, students come up with ideas and learn how to create a proposal, develop them, and market them for the rest of the world to see.
                Students may work on their own or have the opportunity to build teams with other students from BYU, University of Utah, and Westminister College to help in areas of technical expertise.
            </p>


            @if (@User.IsInRole("Admin"))
            {
                @Html.ActionLink("ADD PROJECT", "AddForm", "Project", new { @class = "nc-btn" }, new { @id = "view-projects" });

            }
            @Html.ActionLink("ADD PROJECT", "AddProject", new { @class = "nc-btn" }, new { @id = "view-projects" });
        </div>
        <div class="col-l-5" id="projects-bg"></div>

    </div>
</div>

<div class="section" id="projectSlides">
    @foreach (var project in Model.Projects)
    {
        if (!@project.Success)
        {
            <div class="slide">
                <div class="row fit">
                    <div class="col-m-5 project-bg" style="background-image: url(@project.Image);">
                        @Html.ActionLink("EDIT", "EditProject", new { id = project.ProjectID }, new { @id = "view-projects", @class = "nc-btn" })
                        @if (@User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("EDIT", "EditForm", "Project", new { id = project.ProjectID}, new { @id = "view-projects", @class = "nc-btn" })
                        }

                    </div>
                    <div class="col-m-7 project-content theme-white">
                        <h1 class="uppercase project-name">@project.Name</h1><h3 class="uppercase project-owner">@project.Owner</h3>
                        <p>
                            @project.Details
                        </p>

                    </div>
                </div>
                <br />
                <br />
            </div>

        }

    }
</div>
