@model ProjectLib.PModels.ProjectModel

@{
    ViewBag.Title = "NCCS Innovation Lab | Edit Project";
}

<nav class='navbar-fixed-top-after'>
    <a href="javascript:void(0)" id='close-menu' class="closebtn">&times;</a>
    <img class='nav-icon' src='~/Content/Images/nclogo.png' id='nc-icon' />
    @Html.ActionLink("HOME", "Index", "Home")
    @Html.ActionLink("PROJECTS", "Projects", "Home", null, new { @class = "active" })
    @Html.ActionLink("SUCCESSFUL PROJECTS", "SuccessfulProjects", "Home")
    @Html.ActionLink("EVENTS", "Events", "Home")
    @Html.ActionLink("CONTACT", "Contact", "Home")
    @Html.ActionLink("APPLY", "Apply", "Apply")
</nav>
<div class="navbar-side">
    <span id="hamburger" onclick="">&#9776;</span>
    <img class="nav-icon-side" src='~/Content/Images/nclogo.png' id='nc-icon-side' />
</div>
<div class="section">

    <div class="section row theme-steelgray">
        <div class="col-l-12 section-content">
            <div id="application_form">
                <div id="application_header">
                    <h3>EDIT PROJECT</h3>
                </div>

                @using (Html.BeginForm("EditProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div id="form">
                    @Html.HiddenFor(x => x.ProjectID)
                    <div class="form-entry">
                        <p><b>Project Name:</b></p>
                        @Html.TextBoxFor(model => model.Name, new { @placeholder = "Project Name Here", @required = "required" })
                    </div>

                    <div class="form-entry">
                        <p><b>Project Owner:</b></p>
                        @Html.TextBoxFor(model => model.Owner, new { @placeholder = "Project Owner Here", @required = "required" })
                    </div>

                    <div class="form-entry">
                        <p><b>Project Description:</b></p>
                        @Html.TextAreaFor(model => model.Details, new { @placeholder = "Details about the project", @rows = 5, @required = "required" })
                    </div>

                    <div class="form-entry">
                        <p><b>Project Successful?:</b></p>
                        <div>
                            <label>
                                @Html.RadioButtonFor(model => model.Success, "True")
                                Yes
                            </label>
                        </div>
                        <div>
                            <label>
                                @Html.RadioButtonFor(model => model.Success, "False")
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-entry">
                        <p><b>Project Image Upload:</b></p>
                        <input type="file" name="UploadedFile" accept="image/*" />
                    </div>

                </div>

                <div id="submit-btn">
                    @Html.ActionLink("Delete", "DeleteProject", "Project", new { id = Model.ProjectID }, new { @id = "form-delete", @class = "nc-btn uppercase" })
                    <input type="submit" value="Update" class="nc-btn uppercase" />
                </div>
                }

            </div>
        </div>
    </div>
</div>
